<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Products</title>
    <link rel="stylesheet" href="product.component.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Our Products</h1>
        </header>
        <section class="content">
            <div class="product">
                <img src="./assets/images/bud2.jpeg" height="300 px" width="300 px"class="center" >
                <h2>samsung ear bass</h2>
                <p>With Samsung earbuds, experience well-balanced sound, active noise canceling, long battery life, auto switch.Perfect for everyday go and comes handy everywhere. fits right in pockets</p>
            </div>
            <div class="product">
                <img src="./assets/images/galaxy_pro_book3.jpeg" class="center">
                <h2>galaxy pro book</h2>
                <p>galaxy pro book for the sleekest , modest work experience</p>
            </div>
            <div class="product">
                <img src="./assets/images/SAMSUNG_GALAXY_F_.jpeg" height="300 px" width="300 px" class="center">
                <h2>foldable pro</h2>
                <p>Unfolded, Galaxy Z Fold5 boasts a massive interior screen for elevated productivity on the go. Folded, perfect for one-handed use on the fly</p>
            </div>
        </section>
        <footer>
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>

