* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color:#74ffef;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    color: #333;
}

.content h2 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}

.content p {
    margin: 10px 0;
    color: #666;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    color: #999;
    font-size: 14px;
}

/* Product Page Specific Styles */
.product {
    margin-bottom: 20px;
}

/* Contact Page Specific Styles */
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #333;
    outline: none;
}

button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}
